.full-algorithm {
	margin-top: 10px;
}

.algorithm-code {
	text-align: left;
	width: 725px;
	margin: 0 auto;
}
.code-editor-odd {
	background: rgb(43, 44, 56);
	color: white;
}

.code-editor-even {
	background: rgb(61, 61, 61);
	color: white;
}

.code-editor {
	padding: 5px;
	font-family: monospace;
	font-size: 16px;
}

.single-comment {
	width: 725px;
	margin: 0 auto;
	text-align: left;
}

.comment-username {
	margin-bottom: 0;
}

.comment-content {
	margin-top: 10px;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
}