.full-algorithm {
	margin-top: 10px;
}

.algorithm-code {
	text-align: left;
	width: 725px;
	margin: 0 auto;
}
.code-editor-odd {
	background: rgb(43, 44, 56);
	color: white;
}

.code-editor-even {
	background: rgb(61, 61, 61);
	color: white;
}

.code-editor {
	padding: 5px;
	font-family: monospace;
	font-size: 16px;
}

.single-comment {
	width: 725px;
	margin: 0 auto;
	text-align: left;
}

.comment-username {
	margin-bottom: 0;
}

.comment-content {
	margin-top: 10px;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
}

.comment-count {
	width: 725px;
	text-align: left;
	margin: 0 auto;

}

.button-class-a {
	border-radius: 5px;
	border: 0;
	padding: 7px;
	margin: 5px;
	background: rgb(29, 39, 183);
	color: white;
	font-size: 16px;
}

.button-class-a:hover {
	background: white;
	color: rgb(29, 39, 183);
	cursor: pointer;
}

.comment_form label {
    display: none;
}

.comment_form textarea {
	border-radius: 5px;
	padding: 5px;
	font-size: 14px;
	width: 600px;
	border: none;
}