.user_form label {
	display: none;
}

.user_form input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.user_form li {
    margin: 0 auto;
    padding: 5px;
    background: #8c0000;
    width: 500px;
    color: white;
    border-radius: 5px;
}

.button-class-a {
	border-radius: 5px;
	border: 0;
	padding: 7px;
	margin: 5px;
	background: rgb(29, 39, 183);
	color: white;
	font-size: 16px;
}

.button-class-a:hover {
	background: white;
	color: rgb(29, 39, 183);
	cursor: pointer;
}