.button-class-a {
	border-radius: 5px;
	border: 0;
	padding: 7px;
	margin: 5px;
	background: rgb(29, 39, 183);
	color: white;
	font-size: 16px;
}

.button-class-a:hover {
	background: white;
	color: rgb(29, 39, 183);
	cursor: pointer;
}

.list-of-notifications {
	width: 725px;
	text-align: left;
	margin-left: 100px;
}

.notification-link {
	background: #dcd8d8;
	padding: 5px;
	border-radius: 5px;
}

.notification-link:hover {
	background: rgb(58, 63, 132);
	color: white;
}