{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	{{ title }}
{% endblock title %}

{% block css %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/list_of_blogs.css' %}">

{% endblock css %}

{% block main %}

	<h2>
		Articles
	</h2>

	<div class="list_of_blogs">

        {% if user.is_superuser %}

            <a href="{% url 'blog:create' %}" class="blog_button">Create</a>

        {% endif %}

		{% for blog in blogs %}

			<div class='blog-in-list'>
				<a href="{% url 'blog:show' blog.friendly_title %}" class="blog_button">
                    {{ blog.title }}
                </a>
                <br/>
                {% if blog.image %}
                    <a href="{% url 'blog:show' blog.friendly_title %}">
                        <img src="{{ blog.image.url }}" width="160">
                    </a>
                {% endif %}
                <br/>
			</div>

		{% endfor %}

    </div>

{% endblock main %}