{% load staticfiles %}

<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} {% endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/mobile_main.css' %}", media="screen and (max-width: 600px)">
		{% block css %} {% endblock css %}
	</head>
	<body>
		<div class="main">

			<div class="navigation">
				<div class="search-div">
					<div class="search-icon">&#128269</div>
					{% csrf_token %}
					<input type="text" class="search-bar" placeholder="Search algorithms..." autofocus="false">
					<ul id="search-results">
						<!-- <a class="search-result-item" href="#"><li>algorithms</li></a> -->
					</ul>
				</div>
				<ul class="links">
					<a class="btns" href="{% url 'computer_science:home' %}"><li>Home</li></a>
					<a class="btns" href="{% url 'computer_science:categories' %}"><li>Algorithms</li></a>
					<a class="btns" href="{% url 'blog:home' %}"><li>Blog</li></a>
				</ul>
			</div>

			<div class="dummy"></div>

			{% block main %}

			{% endblock main %}

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

			<script>
				
				$('.search-bar').keyup(function(){
					$.ajax({
						method: 'POST',
						url: '/algorithms/search/',
						dataType: 'html',
						data: {
							'searched_text': $(this).val(),
							'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
						},
						success: function(data){
							console.log(data)
							$('#search-results').html(data)
						}
					})
				})
					
			</script>

			{% block js %} {% endblock js %}

		</div>
	</body>
</html>