{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	{{ title }}
{% endblock title %}

{% block css %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">

{% endblock css %}

{% block main %}

	<h2>Welcome {{ user.username }}</h2>

	<a href="{% url 'user:update' %}" class="button-class-a">Update Profile</a>
	<a href="{% url 'user:change_password' %}" class="button-class-a">Change Password</a>
	<a href="{% url 'user:delete' %}" class="button-class-a">Delete Account</a>

{% endblock main %}

{% block js %}

{% endblock js %}