{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ title }}
{% endblock title %}

{% block css %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/algorithm_categories.css' %}">

{% endblock css %}

{% block main %}

	<h1>Categories of Algorithms</h1>

	<div class="algorithm-categories">
		{% for category, friendly_category in all_categories.items %}
			<div class="each-category"><a href="{{ friendly_category }}" class="button-class-b">{{ category }}</a></div>
		{% endfor %}
	</div>

{% endblock main %}