{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	{{ title }}
{% endblock title %}

{% block css %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/list_of_algorithms.css' %}">

{% endblock css %}

{% block main %}

	<h2>
		{% if title == 'Data Structure' %}
			Data Structure
		{% else %}
			{{ title }} Algorithms
		{% endif %}
	</h2>

    <div class='specific-type-algorithms'>

    	<div class="list_of_algorithms">

    		{% for algorithm in algorithms %}
    			<div class='algorithm-button'>
    				<a href="{% url 'computer_science:title' algorithm.friendly_category algorithm.friendly_title %}" class="button">{{ algorithm.title }}</a>
    			</div>
    		{% endfor %}

    	</div>

    </div>

{% endblock main %}