{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	{{ title }}
{% endblock title %}

{% block css %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/algorithm.css' %}">

{% endblock css %}

{% block main %}
	
	<div class="full-algorithm">
		<h2>{{ algorithm.title }}</h2>
		<div class="algorithm-code">{{ algorithm.code|safe }}</div>
		<br />

		<div class="comment-count">Comments</div>

		{% for comment in comments %}
			<div class="single-comment">
				<p class="comment-username"><b>{{ comment.user }}</b> {{ comment.created_at|timesince }}</p>
				<p class="comment-content">{{ comment.content }}</p>
			</div>
				
		{% endfor %}

		{% if user.is_superuser %}

			<a href="{% url 'computer_science:update' algorithm.friendly_category algorithm.friendly_title %}" class="button-class-a">Update</a>
			<a href="{% url 'computer_science:delete' algorithm.friendly_category algorithm.friendly_title %}" class="button-class-a">Delete</a>
	
		{% endif %}

	</div>

{% endblock main %}