{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	{{ title }}
{% endblock title %}

{% block css %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/algorithm.css' %}">

{% endblock css %}

{% block main %}

	<div class="full-algorithm">
		<h2>{{ algorithm.title }}</h2>
		<div class="algorithm-code">{{ algorithm.code|safe }}</div>
		<br />

		<a class='like like-button' style="{% if user_likes %} color: red; {% endif %}">
		    &hearts;
		    <span class="like-unlike-message">{{ like_or_unlike }}</span>
		</a>

		<span class="like-counts">{{ algorithm.likes.count }}</span>

        <br>

		{% if user.is_superuser %}

			<a href="{% url 'computer_science:update' algorithm.friendly_category algorithm.friendly_title %}" class="button-class-a">Update</a>

		{% endif %}

	    {% if user.is_authenticated %}

    		<form method="POST" class="comment_form", enctype="multipart/form-data">
        		{% csrf_token %}
        		{{ form.as_p }}
        		<input type="submit" value="{{ value }}" class='button-class-a send_comment_button'>
    	    </form>

	    {% else %}
	        <a href="{% url 'user:user_login' %}" class="button-class-a">Sign in to like and comment</a>
	    {% endif %}

	    <div class="comment-count">Comments: ({{ comments.count }})</div>

	    <div class="all-comments">

    		{% for comment in comments %}

    			<div class="single-comment">
    				<p class="comment-username"><b>{{ comment.user }}</b> {{ comment.created_at|timesince }}</p>
    				<p class="comment-content">{{ comment.content }}</p>
    			</div>

    		{% endfor %}

        </div>

	</div>

{% endblock main %}